@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat&display=swap");
body {
  background-color: #F5F9FA;
  color: #264653;
}

h2 {
  letter-spacing: 4px;
  font-family: "Lato", sans-serif;
}

h4 {
  color: #264653;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

p {
  color: #264653;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #f4a261;
}

.navbar-default {
  background-color: #264653;
}

.navbar-default .navbar-nav > li > a {
  color: #F5F9FA;
}

.navbar-default .navbar-nav > li.active > a {
  color: #f4a261;
  background-color: transparent;
}

nav {
  display: flex;
  justify-content: center;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #f4a261;
}

.btn.default.active {
  background-color: #e9c46a;
}
