// import 2 fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat&display=swap');

// fonts
$font-family: 'Lato', sans-serif;
$font-family: 'Montserrat', sans-serif;

// colors
$teal: #8ca376;
$d-orange: #525cd1; 
$l-orange: #E59C5E;
$yellow: #f0eaa5;
$navy: #f1f7eb;

// element selectors

body {
  background-color: $teal; 
  color: $d-orange; 
}

h2 {
  letter-spacing: 5px;
  //font-family: $font-family-serif;
}

h4 {
  color: $navy;
  //font-family: $font-family-serif;
}

p {
  //font-family: $font-family-sans-serif;
}

a {
  color: $l-orange;
}

// class selectors

.navbar-default {
  background-color: $navy;
}

.btn.default.active {
  background-color: $yellow;
}
