// import 2 fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat&display=swap');

// fonts
$font-family: 'Lato', sans-serif;
$font-family-body: 'Montserrat', sans-serif;

// colors
$teal: #2a9d8f;
$d-orange: #e76f51; 
$l-orange: #f4a261;
$yellow: #e9c46a;
$navy: #264653;
$white: #F5F9FA;

// element selectors

body {
  background-color: $teal; 
  color: $d-orange; 
}

h2 {
  letter-spacing: 5px;
  font-family: $font-family;
}

h4 {
  color: $navy;
  font-family: $font-family;
}

p {
  font-family: $font-family-body;
}

a {
  color: $l-orange;
}

// class selectors

.navbar-default {
  background-color: $navy;
}

.btn.default.active {
  background-color: $yellow;
}
